In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df = pd.read_csv(r'C:\Users\User\Downloads\Visadataset.csv')
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

**Selecting the numerical columns**

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**Prevailing Wage**

**Count or len**

In [5]:
len(visa_df['prevailing_wage'])

25480

**max**

In [6]:
max(visa_df['prevailing_wage'])

319210.27

In [7]:
visa_df['prevailing_wage'].max() #using pandas

319210.27

In [8]:
np.max(visa_df['prevailing_wage']) #using numpy

319210.27

**min**

In [9]:
print(min(visa_df['prevailing_wage']))
print(visa_df['prevailing_wage'].min())
print(np.min(visa_df['prevailing_wage']))

2.1367
2.1367
2.1367

**mean**

In [10]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [11]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

**median**

In [12]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [13]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

**standard deviation**

In [14]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [15]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

In [16]:
list_values=[]
wage_count=round(len(visa_df['prevailing_wage']),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)

list_values.append(wage_count)
list_values.append(wage_min)
list_values.append(wage_max)
list_values.append(wage_mean)
list_values.append(wage_median)
list_values.append(wage_std)

index_cols=['count','min', 'max', 'mean', 'median', 'std']

#create a dataframe
df=pd.DataFrame(list_values,index=index_cols,columns=['prevailing_wage'])
df

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

**Percentile and Quantile**

- np.percentile()
- It takes two arguments
    - a:data
    - percentile - q:the values varies from 1 to 100
- If you want 50percentile data then q=50

- np.quantile()
- It takes two arguments
    - a:data
    - percentile - q:the values varies from 0 to 1
- If you want 50percentile data then q=0.5

**25P-50P-75P**

In [17]:
wage_25P=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50P=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75P=round(np.percentile(visa_df['prevailing_wage'],75),2)

print(f"The 25% data is {wage_25P}")
print(f"The 50% data is {wage_50P}")
print(f"The 75% data is {wage_75P}")

The 25% data is 34015.48
The 50% data is 70308.21
The 75% data is 107735.51

In [18]:
wage_25P=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
wage_50P=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
wage_75P=round(np.quantile(visa_df['prevailing_wage'],0.75),2)

print(f"The 25% data is {wage_25P}")
print(f"The 50% data is {wage_50P}")
print(f"The 75% data is {wage_75P}")

The 25% data is 34015.48
The 50% data is 70308.21
The 75% data is 107735.51

**Understand the percentile**

- Definition of 25 Percentile: This means there are 25% of employees have salary less than 34015.48
- Total employees: 25480
- 25% of employees = 25*25480/100 = 6370
- This means 6370 employees have salary less than 34015.48

- Definition of 50 Percentile: This means there are 25% of employees have salary less than 34015.48
- Total employees: c
- 50% of employees = 50*25480/100 = 12,740
- This means 12,740 employees have salary less than 34015.48

In [19]:
con=visa_df['prevailing_wage']  < 34015.48
len(visa_df[con])

6370

In [20]:
con=visa_df['prevailing_wage']  < wage_25P
len(visa_df[con])

6370

In [21]:
con=visa_df['prevailing_wage']  < wage_50P
len(visa_df[con])

12740

In [22]:
con=visa_df['prevailing_wage']  < wage_75P
len(visa_df[con])

19110

**Emperical rule**

- 68-95-99.7

- First calculate mean value
- calculate standard deviation value

- Con1 : mean-1*std
- Con2: mean + 1*std

- If we apply Con1 and Con2 on wage data, the output count should be equal to 68 % of data
- 68% of total employees = 17326

In [23]:
v1 = wage_mean-1*wage_std
v2 = wage_mean+1*wage_std
con1=visa_df['prevailing_wage'] > v1
con2=visa_df['prevailing_wage'] < v2

count1 = len(visa_df[con1 & con2])
####################################
count1

17171

In [24]:
v1 = wage_mean-1*np.std(visa_df['prevailing_wage'])
v2 = wage_mean+1*np.std(visa_df['prevailing_wage'])
con1=visa_df['prevailing_wage'] > v1
con2=visa_df['prevailing_wage'] < v2

count1 = len(visa_df[con1 & con2])
####################################
count1

17170

In [25]:
v1 = wage_mean-2*wage_std
v2 = wage_mean+2*wage_std
con1=visa_df['prevailing_wage'] > v1
con2=visa_df['prevailing_wage'] < v2

count1 = len(visa_df[con1 & con2])
####################################
count1,95*25480/100

(24582, 24206.0)

In [26]:
v1 = wage_mean-3*wage_std
v2 = wage_mean+3*wage_std
con1=visa_df['prevailing_wage'] > v1
con2=visa_df['prevailing_wage'] < v2

count1 = len(visa_df[con1 & con2])
####################################
count1, 99.7*25480/100

(25186, 25403.56)

In [27]:
numrical_list=list(visa_df.select_dtypes(exclude='object').columns)
numrical_list

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

In [28]:
list_values=[]
wage_count=round(len(visa_df['prevailing_wage']),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)

#=============================================================
wage_25P=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
wage_50P=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
wage_75P=round(np.quantile(visa_df['prevailing_wage'],0.75),2)

list_values.append(wage_count)
list_values.append(wage_min)
list_values.append(wage_max)
list_values.append(wage_mean)
list_values.append(wage_median)
list_values.append(wage_std)
list_values.append(wage_25P)
list_values.append(wage_50P)
list_values.append(wage_75P)

index_cols=['count','min', 'max', 'mean', 'median', 'std','25%', '50%]

#create a dataframe
df=pd.DataFrame(list_values,index=index_cols,columns=['prevailing_wage'])
df

SyntaxError: unterminated string literal (detected at line 24) (2485693525.py, line 24)

In [ ]:
numerical_list=list(visa_df.select_dtypes(exclude='object').columns)

_vals = []
for i in numerical_list:    
    _count=round(len(visa_df[i]),2)
    _min=round(visa_df[i].min(),2)
    _max=round(visa_df[i].max(),2)
    _mean=round(visa_df[i].mean(),2)
    _median=round(visa_df[i].median(),2)
    _std=round(visa_df[i].std(),2)
    
    _25P=round(np.quantile(visa_df[i],0.25),2)
    _50P=round(np.quantile(visa_df[i],0.50),2)
    _75P=round(np.quantile(visa_df[i],0.75),2)
    _vals.append([_count,_min,_max,_mean,_median,_std,_25P,_50P,_75P])

index_cols=['count','min', 'max', 'mean', 'median', 'std','25%', '50%', '75%']

#create dataframe
df=pd.DataFrame(_vals,index=numerical_list,columns=index_cols).T #T - Transpose, shows the dataframe in a reverse order i.e colmuns becomes rows
df

## The above functionality can be implemented with one function - describe##

In [ ]:
visa_df.describe() # This function is only for numerical data

**Histogram**

- Histogram can get by matplotlib
- Histogram can also be plotted with seaborn
- plt.hist()

In [ ]:
plt.hist(visa_df['prevailing_wage'])

from interval range 

    - 2.13670000e+00 to 3.19229500e+04
        - 6038 members have salary in the above range (2.1367, 31922.95)
    - 3.19229500e+04 to 6.38437634e+04
        - 5504 members have salary in the above range

***Histogram will give 3 outputs:***
 - frequency
    - in each interval range how many observations are there
- interval
    - interval range
- number of intervals

In [ ]:
(2.13670000e+00, 3.19229500e+04)

**Check-Point 1**

In [ ]:
con1=visa_df['prevailing_wage'] >= 2.1367
con2=visa_df['prevailing_wage'] < 31922.95
len(visa_df[con1 & con2])

**bins**

In [ ]:
f,i,n = plt.hist(visa_df['prevailing_wage'],bins=40)
print(n) # n means number of bins

In [ ]:
plt.hist(visa_df['prevailing_wage'],bins=40)
plt.title('Histogram')
plt.xlabel('Prevaling Wage')
plt.ylabel('Count')
plt.show()

In [ ]:

plt.figure(figsize=(10,3))
plt.subplot(1,3,1)
plt.hist(visa_df['prevailing_wage'],bins=40)
plt.title('Histogram')
plt.xlabel('Prevaling Wage')
plt.ylabel('Count')

plt.subplot(1,3,2)
plt.hist(visa_df['no_of_employees'],bins=40)
plt.title('Histogram')
plt.xlabel('no_of_employees')
plt.ylabel('Count')

plt.subplot(1,3,3)
plt.hist(visa_df['yr_of_estab'],bins=40)
plt.title('Histogram')
plt.xlabel('yr_of_estab')
plt.ylabel('Count')

In [ ]:
index_cols

In [ ]:
plt.figure(figsize=(10,3))
for i in range(len(numerical_list)):
    plt.subplot(1,len(numerical_list),i+1)
    plt.hist(visa_df[numerical_list[i]],bins=40)
    plt.title(f'Histogram of {numerical_list[i]}')
    plt.xlabel('class interval')
    plt.ylabel('Count')

**Histogram using seaborn**

- histplot
- distplot

In [ ]:
import warnings
warnings.filterwarnings("ignore")
sns.histplot(visa_df['prevailing_wage'])

In [ ]:
sns.distplot(visa_df['prevailing_wage'])